<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleRAIDSets</key>
	<array>
		<dict>
			<key>AppleRAIDSetUUID</key>
			<string>29A25F24-BEA2-47BA-B0F9-323CDF5545EC</string>
			<key>BSD Name</key>
			<string>disk4</string>
			<key>ChunkCount</key>
			<integer>122083833</integer>
			<key>ChunkSize</key>
			<integer>32768</integer>
			<key>Content</key>
			<string>7C3457EF-0000-11AA-AA11-00306543ECAC</string>
			<key>Level</key>
			<string>Mirror</string>
			<key>Members</key>
			<array>
				<dict>
					<key>AppleRAIDMemberUUID</key>
					<string>6604E412-FC8E-4BD6-A2B1-972D47793A82</string>
					<key>BSD Name</key>
					<string>disk3s2</string>
					<key>MemberStatus</key>
					<string>Online</string>
				</dict>
				<dict>
					<key>AppleRAIDMemberUUID</key>
					<string>E4036DC8-CC28-47BD-B448-3A923098EEF1</string>
					<key>BSD Name</key>
					<string>disk2s2</string>
					<key>MemberStatus</key>
					<string>Online</string>
				</dict>
			</array>
			<key>Name</key>
			<string>DataRaid</string>
			<key>Rebuild</key>
			<string>Automatic</string>
			<key>Size</key>
			<integer>4000443039744</integer>
			<key>Spares</key>
			<array/>
			<key>Status</key>
			<string>Online</string>
		</dict>
	</array>
</dict>
</plist>
